langchain
langgraph
langsmith
langchain-groq
langchain-openai
faiss-cpu
PyPDF2
langchain-community
openai
ipykernel
langchain_tavily
langchain_huggingface
sentence-transformers
langchain_google_genai
bs4
requests
chromadb
langchain_community